<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    
   <!-- App Settings for OAuth - ***WITH Function App-->
    <!--At: https://adooauthclientsample.azurewebsites.net/ -->
    
    <add key="ClientAppId" value="CBE17082-A742-4ADB-B2E9-8E8FD190324C"/>
    <add key="ClientAppSecret" value="eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Im9PdmN6NU1fN3AtSGpJS2xGWHo5M3VfVjBabyJ9.eyJjaWQiOiJjYmUxNzA4Mi1hNzQyLTRhZGItYjJlOS04ZThmZDE5MDMyNGMiLCJjc2kiOiI4NjQ2MWE0ZS1iMTM4LTQzODEtYjBiZC02ZDdiYjIzZmQyNjUiLCJuYW1laWQiOiI2OWZhZjc4ZC0zM2E5LTY1MzQtODI5OS00Y2RkM2U1Mjc3OGEiLCJpc3MiOiJhcHAudnN0b2tlbi52aXN1YWxzdHVkaW8uY29tIiwiYXVkIjoiYXBwLnZzdG9rZW4udmlzdWFsc3R1ZGlvLmNvbSIsIm5iZiI6MTYwNTgzMTA5OCwiZXhwIjoxNzYzNTk3NDk4fQ.1dfrfxHRZuwzmyYXr_-4HBDs90TjvYv_t5DTcTfE9S_kujcF9zx4qpbpwbdKOIvA8xQzsjN4VJRlCzfcje-pZ6tm7H-Sh-5ngm1cpraGVAfO1Pi9KDjrR4jtMvXZGrZJ6wC14QfuiBvgOixQhVLM3eufc-Fw8_-fXp7oXJgw2Dy0QN-LqAGQscAxjkeQvCNpCoSFubokLEMUJZcbhqsPt7O_hs993HlVBrk5pC0eIXLV7cmFVqDk8zKXTegJBa_3bFAPYIIbVwYCKadBTNxwNd7X0HiREiz2FRxCJ3rthZYGtwcl7zeTQa9AirD7y4wizwLMlxNYRVDEgNu0OA9pmw"/>
    
    <add key="Scope" value="vso.identity vso.profile vso.project vso.security_manage"/>
    <!--<add key="Scope" value="vso.analytics vso.auditlog vso.connected_server vso.entitlements vso.graph vso.identity vso.memberentitlementmanagement vso.profile vso.project vso.security_manage"/>-->
    <add key="CallbackUrl" value="https://adogovernancefunctions.azurewebsites.net/api/ADOCallback"/>
         
    <add key="AuthUrl" value="https://app.vssps.visualstudio.com/oauth2/authorize"/>
    <add key="TokenUrl" value="https://app.vssps.visualstudio.com/oauth2/token"/>
    <add key="ProfileUrl" value="https://app.vsaex.visualstudio.com/me"/>
  
  
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  
    <system.web>
        <customErrors mode="Off"/>
    </system.web>

</configuration>
